<section class="total">
  <div class="container">
    <h2 class="visually-hidden">Advertisement</h2>
    <div class="wrap">
      <p class="advertisement-title">
        Choose <span class="advertisement-title-span">your story</span>, making
        every moment unique. Time is your style, and we reveal it.
      </p>
      <a
        class="advertisement-link"
        href="#Contact"
        target="_blank"
        rel="noopener noreferrer"
        >Contact Us</a
      >
    </div>
  </div>
</section>
