<section class="total padding" id="contact">
  <div class="container container-contact">
    <h2 class="subject">Contact Us</h2>
    <div class="container-form">
      <form class="class-form">
        <p class="note note-p">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <label for="user-name">
          <input
            aria-label="write a username here"
            type="text"
            class="input-form"
            id="user-name"
            name="username"
            pattern="[A-Za-zА-Яа-яЁё\s]+"
            placeholder="Name"
            required
        /></label>

        <label for="email">
          <input
            aria-label="write a email here"
            type="email"
            class="input-form"
            name="email"
            id="email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            placeholder="Email"
            required
        /></label>
        <label for="tel">
          <input
            aria-label="write a tel number here"
            type="tel"
            class="input-form"
            name="tel"
            id="tel"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            placeholder="+380"
            required
        /></label>
        <label for="comment">
          <textarea
            aria-label="write a your comment here"
            name="comment"
            id="comment"
            class="textarea-form"
            placeholder="Comment"
          ></textarea>
        </label>
        <button
          type="submit"
          class="btn-form"
          aria-label="send your information to web"
        >
          Send
        </button>
      </form>

      <picture>
        <source
          type="image/jpg"
          srcset="
            /img/contact/contact-desctop.jpg  1x,
            /img/contact/contact-destop2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          type="image/jpg"
          srcset="
            /img/contact/contact-tablet.jpg   1x,
            /img/contact/contact-tablet2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          type="image/jpg"
          srcset="
            /img/contact/contact-mobile.jpg   1x,
            /img/contact/contact-mobile2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/img/contact/contact-desctop.jpg"
          alt="clock"
          class="img-form"
          width="530"
          height="556"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
