<section>
  <div class="container-contact">
    <h2 class="title-contact">Contact Us</h2>
    <div class="container-form">
      <form class="class-form">
        <p class="text-form">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <input
          type="text"
          class="input-form"
          name="username"
          placeholder="Name"
        />
        <input
          type="email"
          class="input-form"
          name="email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          placeholder="Email"
        />
        <input
          type="text"
          class="input-form"
          name="tel"
          pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
          placeholder="+380"
        />
        <textarea
          name="comment"
          class="textarea-form"
          placeholder="Comment"
        ></textarea>
        <button type="submit" class="btn-form">Send</button>
      </form>
      <picture>
        <source
          srcset="
            /img/contact/contact-desctop.jpg  1x,
            /img/contact/contact-destop2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/contact/contact-tablet.jpg   1x,
            /img/contact/contact-tablet2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/contact/contact-mobile.jpg   1x,
            /img/contact/contact-mobile2x.jpg 2x
          "
          media="(min-width: 320px)"
        />

        <img src="../img/contact/contact-desctop.jpg" alt="clock" />
      </picture>
    </div>
  </div>
</section>
