<section id="reviews" class="total">
  <div class="container reviews-containerпп">
    <h2 class="subject reviews-title">Reviews</h2>
    <ul class="reviews-menu">
      <li class="reviews-menu-item-one">
        <img
          class="foto"
          srcset="/img/hero/john.jpg, /img/hero/john2x.jpg"
          src="/img/hero/john.jpg"
          alt="John"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="subtitle content-title">John Wax</h3>
        <p class="note content-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-menu-item-two">
        <img
          class="foto"
          srcset="/img/hero/victoria.jpg, /img/hero/victoria2x.jpg"
          src="/img/hero/victoria.jpg"
          alt="Victoria"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="subtitle content-title">Victoria Romashenko</h3>
        <p class="note content-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-menu-item-three">
        <img
          class="foto"
          srcset="/img/hero/anastasia.jpg, /img/hero/anastasia2x.jpg"
          src="/img/hero/anastasia.jpg"
          alt="Anastasia"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="subtitle content-title">Anastasia Trachuk</h3>
        <p class="note content-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
