<!-- Sale -->
<section id="sale" class="total">
  <div class="container">
    <h2 class="subject title">Sale</h2>
    <div class="container-sale">
      <div class="container-clock">
        <ul class="item-column">
          <li class="item-row">
            <picture>
              <source
                type="image/jpg"
                srcset="
                  /img/sale-desctop/sale1-desctop.png   1x,
                  /img/sale-desctop/sale1-desctop2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-tablet/sale1-tablet.png         1x,
                  /img/sale-tablet/sale1-tablet2x-min.png2x
                "
                media="(min-width:768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-mobile/sale1-mobile.png       1x,
                  /img/sale-mobile/sale1-mobile2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="width"
                src="/img/sale-mobile/sale1-mobile.png "
                alt="black watch"
              />
            </picture>
          </li>
          <li class="item-row">
            <picture>
              <source
                type="image/jpg"
                srcset="
                  /img/sale-desctop/sale2-desctop.png     1x,
                  /img/sale-desctop/sale2-desctop2x.png2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-tablet/sale2-tablet.png       1x,
                  /img/sale-tablet/sale2-tablet2x-min.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-mobile/sale2-mobile.png         1x,
                  /img/sale-mobile/sale2-mobile2x-min.png2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="width"
                src="/img/sale-mobile/sale2-mobile.png"
                alt="black watch"
              />
            </picture>
          </li>
          <li class="item-row">
            <picture>
              <source
                type="image/jpg"
                srcset="
                  /img/sale-desctop/sale3-desctop.png   1x,
                  /img/sale-desctop/sale3-desctop2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-tablet/sale3-tablet.png       1x,
                  /img/sale-tablet/sale3-tablet2x-min.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-mobile/sale3-mobile.png         1x,
                  /img/sale-mobile/sale3-mobile2x-min.png2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="width"
                src="/img/sale-mobile/sale3-mobile.png"
                alt="black watch"
              />
            </picture>
          </li>
          <li class="item-row">
            <picture>
              <source
                type="image/jpg"
                srcset="
                  /img/sale-desctop/sale4-desctop.png   1x,
                  /img/sale-desctop/sale4-desctop2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-tablet/sale4-tablet.png       1x,
                  /img/sale-tablet/sale4-tablet2x-min.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                type="image/jpg"
                srcset="
                  /img/sale-mobile/sale4-mobile.png       1x,
                  /img/sale-mobile/sale4-mobile2x-min.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="width"
                src="/img/sale-mobile/sale4-mobile.png"
                alt="black watch"
              />
            </picture>
          </li>
        </ul>

        <div class="watch-test">
          <picture class="item-watch">
            <source
              type="image/jpg"
              srcset="
                /img/sale-desctop/sale-desctop.png   1x,
                /img/sale-desctop/sale-desctop2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              type="image/jpg"
              srcset="
                /img/sale-tablet/sale-tablet.png         1x,
                /img/sale-tablet/sale-tablet2x-min.png2x
              "
              media="(min-width:768px)"
            />
            <source
              type="image/jpg"
              srcset="
                /img/sale-mobile/sale-mobile.png       1x,
                /img/sale-mobile/sale-mobile2x-min.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="/img/sale-mobile/sale-mobile.png"
              alt="black watch"
              width="328"
              height="398"
            />
          </picture>
        </div>
      </div>
      <div class="product-info">
        <div class="info-center">
          <h3 class="sale-subtitle">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="product-tag">Product tag: 706587</p>
          <div class="price">
            <span class="price-now">€1500</span>
            <span class="price-alredy">€3000</span>
          </div>
          <p class="product-description">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <ul class="buttons">
            <li class="btn-item">Fused carbon fiber</li>
            <li class="btn-item">Grade-5 Titanuim</li>
            <li class="btn-item">Athlete</li>
            <li class="btn-item">Golfer</li>
            <li class="btn-item">Commander</li>
            <li class="btn-item">Adventurer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
