.about-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-container {
    border-radius: 30px;
width: 335px;
background: #f3f3f3;
padding: 40px 20px;
margin-bottom: 20px;

}
.about-title {
    color: #0c0c0c;
margin-bottom: 28px;

}
.about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.about-item {
    width: 294px;
}
.about-btn {
    font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 129%;
text-align: center;
color: #fbfbfb;
border-radius: 16px;
width: 160px;
height: 48px;
background: #3350e9;
border: none;
}

@media screen and (min-width: 768px) {
    .about-container {
        width: 704px;
        padding: 80px 60px;
        border-radius: 50px;
        margin-bottom: 40px;
    }

    .about-title {
        font-weight: 600;
font-size: 48px;
line-height: 92%;
    }
    
    .about-item {
      width: 584px;
    }

    .about-text {
        font-weight: 500;
font-size: 16px;
line-height: 1.25;
    }

    .about-list {
        margin-bottom: 60px;
    }
}


@media screen and (min-width: 1200px) {
    .about {
        flex-direction: row;
    }
     
    .about-section {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .about-container {
        border-radius: 50px;
        width: 580px;
        margin-right: 40px;
    }

    .about-item {
        width: 460px;
    }
  

    .about-list {
        margin-bottom: 60px;
    }

    .desktop-container {
        display: flex;
        flex-direction: row;

    }

   
}