.wrap {
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url(/img/advertisement/adv-mobile.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #0c0c0c;
    border-radius: 30px;
    padding: 60px 28px;
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .wrap {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url(/img/advertisement/adv-mobile2x.jpg);
    }
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advertisement-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 28px;
    max-width: 279px;
}

.advertisement-title-span {
    color: rgba(251, 251, 251, 0.5);
}


.advertisement-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    width: 160px;
    height: 48px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advertisement-link:hover {
    background: #fbfbfb;
    color: #0c0c0c;
}

/* ========================================================================================================================================================
TABLET
======================================================================================================================================================== */


@media screen and (min-width: 768px) {
    .wrap {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url(/img/advertisement/adv-tablet.jpg);
        padding: 80px 64px;
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .wrap {
            background-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                url(/img/advertisement/adv-tablet2x.jpg);
        }
    }

    .advertisement-title {
        max-width: 576px;
        margin-bottom: 32px;
        font-weight: 600;
        font-size: 48px;
        line-height: 0.92;
    }
}

@media screen and (min-width: 1280px) {
    .wrap {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url(/img/advertisement/adv-desctop.jpg);
        padding: 83px 65px;
    }

    @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .wrap {
            background-image:
                linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                url(/img/advertisement/adv-desctop2x.jpg);
        }
    }

    .advertisement-title {
        max-width: 690px;
        letter-spacing: -0.02em;
    }

    .wrap {
        display: flex;
        gap: 140px;
    }
}