body {
    font-family: "Gilroy", sans-serif;
    background-color: #fbfbfb;
    color: #0c0c0c;
}


.container {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.subject {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
}

.subtitle {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;

}

.note {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}


.total {
    padding-top: 60px;
    padding-bottom: 60px;
}


@media (min-width: 375px) and (max-width: 767px) {
    .container {
        max-width: 375px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .total {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .subject {
        font-size: 48px;
        line-height: 0.91667;
    }

    .note {
        font-size: 16px;
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px;
        padding: 0px 65px
    }
}