/* body+container*/
body {
    font-family: "Gilroy", sans-serif;
    background-color: #fbfbfb;
    color: #fbfbfb;
}


.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;

}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}


section {
    padding-top: 60px;
    padding-bottom: 60px;
}


@media (min-width:375px) {
    .container {
        max-width: 375px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
        padding-left: 32px;
        padding-right: 32px;
    }

    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    h2 {
        font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
    }

    p {
        font-size: 16px;
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1140px;
        padding-left: 15px;
        padding-right: 15px;
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}