
.title-catalog {
  display: block;
  padding-left: 20px;
  margin-right: auto;
  margin-bottom: 24px;
  
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 20px
}

.name-list {
  background: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
 
}

.clock {
  display: none;
}

.text-catalog {
  display: flex;
  flex-direction: column;
  gap:8px;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 28px;
 padding-bottom: 24px;
}

.text-name{
  
  color :#0c0c0c;
}

.price-text {
  color: rgba(12, 12, 12, 0.5);
}

.button-catalog {
  display: block;
  margin-top: 40px;
  margin: auto;
  border-radius: 16px;
  min-width: 160px;
  height: 48px;
  background: #3350e9;
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.09;
  padding: 15px 44px;
  border: none;
  text-align: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-catalog:hover,
.button-catalog:focus {
  background-color: #1F3CD4;
}

@media screen and (min-width: 768px) {
  
  .title-catalog {
    font-size: 48px;
    line-height: 92%;
  }

  .list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px 16px;
  }

  .name-list {
     width: calc((100% - 16px) / 2);
     
  }

  .text-name-ov-g {
    gap: 8px;
    width: 87%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
   
  }
   
  .text-name-ov {
    width: 86%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 
  }

  .clock {
    display: flex;
    flex-direction: column;
  
  }

  .button-catalog {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
 
  .list {
    gap: 32px 23px;
  }

  .name-list {
    width: calc((100% - 48px) / 3);
   
  }
    .text-name-ov-g {
      width: 93%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .text-name-ov {
      width: 93%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
}
