/* ------------------HEADER-------------- */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    display: list-item;
    padding-left: 0;
}

button {
    font-family: inherit;
    line-height: inherit;
}

.container-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-link {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    text-decoration: none;  
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu .menu-link:hover,
.header-menu .menu-link:focus {
    color: #3350e9;
}

.menu {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;   
}

.menu-container {
    display: none;    
}

.menu-link {
    padding-bottom: 10px;  
    display: block;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #0c0c0c;
}

.current {
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 30px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350e9; 
    cursor: pointer;
    /* transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   */
}


/* .menu-link.current:hover::after ,
.menu-link.current:focus::after{
    background-color: ;
} */


.open-header-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px ;
    height: 34px;
    cursor: pointer;
    background-color: transparent;
    line-height: 0;
    border: none; 
}

.header {
    display: block;
}

.social-icon {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
}

.social-icon:hover,
.social-icon:focus {
    fill: #3350e9;  
} 


.social-item-menu {
    width: 36px;
    height: 36px;
}

.social-list-menu-header {
    display: none;
}

.open-menu {
    stroke-width: 3px;
    stroke: #0c0c0c;
}

.line-header-color {
    stroke-width: 1px;
    stroke: rgba(12, 12, 12, 0.1);
}

.line-header {
    width: 100%;
}


/* ------------MENU-HEADER------------------ */

.menu-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 200px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    background-image: url(../img/menu/menu-mobile.jpg);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
}

.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
}

.close-icon {
    stroke-width: 2.50px;
    stroke: #fbfbfb;
}

.menu-header-container {
    margin-top: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.menu-header-list {
    display: flex;
    flex-direction: column;
    gap: 24px;   
}

.menu-header-link {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.menu-header-container .menu-header-link:hover,
.menu-header-container .menu-header-link:focus {
    color: #3350e9;
}

.current-menu {
    position: relative;
}

.current-menu::after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 30px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350e9;
    /* transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   */
}

/* .menu-header-link.current-menu:hover::after ,
.menu-link.current:focus::after{
    background-color: ;
} */

.social-list-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: auto;   
    
}

.social-icon-item-menu-header {
    width: 34px;
    height: 34px; 
}

.social-icon-menu {     
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    opacity: .8;
    transition: opacity 50ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-color-menu{
    fill: #fbfbfb;
}

.social-icon-menu:hover,
.social-icon-menu:focus {
    opacity: 1;
}

/* ------------------ ----------------------- */

/* ------------------Media ----------------------- */

 @media screen and (min-width: 768px) {
.container-header {
    padding-top: 26px;
    padding-bottom: 26px;
}
}

@media screen and (min-width: 768px) {
.logo-link {
    font-size: 20px;
    }
}

@media screen and (min-width: 1280px) {
.logo-link {
    margin-right: 203px;  
}
}

@media screen and (min-width: 1280px) {
.current::after {
    left: 0;
    bottom: -2px;
    left: 15px;
}
}

@media screen and (min-width: 1280px) {
.menu-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
}

@media screen and (min-width: 1280px) {
.open-header-menu-button {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
}


@media screen and (min-width: 1280px) {
.menu-header {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        
    }
}

@media screen and (min-width: 768px) { 
.menu-header {
    width: 330px;
    padding: 26px 32px 50px;    
}
}

@media screen and (min-width: 1280px) {
.social-list-menu-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
}
}

@media screen and (min-width: 768px) {
.open-header-menu-button {
    width: 40px;
    height: 40px;
}}

@media screen and (min-width: 768px) {
.close-button {
    width: 40px;
    height: 40px;
}
}

@media screen and (min-width: 768px) {
.close-icon {
    width: 20px;
    height: 20px;
}
}

@media screen and (min-width: 768px) {
.social-icon-item-menu-header {
    width: 36px;
    height: 36px;
}
}

@media screen and (min-width: 768px) {
.icon-color {
    width: 20px;
    height: 20px;
}}

